div.board-container {
    margin: 0 auto;
    display: inline-block;
}
div.board-rank {
    height: 75px;
}

button.tile {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    padding: 0px;
    font-size: 70px;
}
button.white-tile {
    background-color: rgb(155, 248, 255);
}
button.black-tile {
    background-color: rgb(28, 115, 150);
}
button.highlighted-tile {
    background-color: rgba(255, 0, 0, 0.76);
}

div.timer-container {
    margin: 0 auto;
    padding: 30px;
    display: inline-block;
}
