div.board-container {
    margin: 0 auto;
}
div.board-row {
    height: 75px;
}

button.tile {
    width: 75px;
    height: 75px;
    border: none;
    font-size: 70px;
}
button.white-tile {
    background-color: rgb(155, 248, 255);
}
button.black-tile {
    background-color: rgb(28, 115, 150);
}
