<div class="center-content">

    <div class="board-container">
        <div class="board-rank" *ngFor="let _ of board.tileArray; let rank = index; let evenRank = even">

            <!-- TO BE REFACTORED FROM WITHIN .TS FILE -->
            <!-- <span>{{ gameSettings.playerColor === 0 ? 8 - i : i + 1 }}</span> -->
            
            <button 
            *ngFor="let _ of board.tileArray[rank]; let file = index; let evenFile = even"
            [ngClass]="[
                'tile', 
                evenRank === evenFile ? 'white-tile' : 'black-tile',
                board.tileArray[rank][file].highlighted ? 'highlighted-tile' : ''
            ]"
            
            (click)="clickTile({rank: rank, file: file})">
            {{ board.tileArray[rank][file].piece != null ? board.tileArray[rank][file].piece.symbol : '‎' }} 
            </button>
    
        </div>
    </div>

    <div class="timer-container">
        <h4 *ngFor="let secs of secondsLeft.reverse()">
            Time left: {{ Math.floor(secs / 60) }}:{{ secs % 60 | number: '2.0-0' }}
        </h4>
    </div>
    
</div>

<!-- Empty character site: 
    https://emptycharacter.com/ -->

