@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
};

.center-content {
  text-align: center;
}

.container-v {
    display: flex;
    flex-direction: column;
}

.container-h {
    display: flex;
    flex-direction: row;
}
