
<nb-card size="small">
    <nb-card-body class="center-content">

        <div class="grid-container">

            <p>Difficulty: </p>
            <nb-select placeholder="Select difficulty" [(selected)]="gameSettings.difficulty">
                <nb-option *ngFor="let option of difficultyOptions; let i = index" [value]="i">
                    {{ option }}
                </nb-option>
            </nb-select>
            
            <p>Color: </p>
            <nb-select placeholder="Select color" [(selected)]="gameSettings.playerColor">
                <nb-option *ngFor="let option of playerColorOptions; let i = index" [value]="i">
                    {{ option }}
                </nb-option>
            </nb-select>
            
            <p>Timer: </p>
            <nb-select placeholder="Select timer" [(selected)]="gameSettings.secondsToThink">
                <nb-option *ngFor="let option of secondsToThinkOptions" [value]="option">
                    {{ option / 60 }} {{ option == 60 ? "minute" : "minutes"}}
                </nb-option>
            </nb-select>
            
            <p>Increment: </p>
            <nb-select placeholder="Select increment" [(selected)]="gameSettings.secondsIncrement">
                <nb-option *ngFor="let option of secondsIncrementOptions; let i = index" [value]="option">
                    {{ option }} seconds
                </nb-option>
            </nb-select>
        </div>
        

        <button nbButton size="giant" status="primary" (click)="startGame()">Play</button>

    </nb-card-body>
</nb-card>
